@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeue Bold.otf");
}

$font-quicksand: 'Quicksand', sans-serif;
$font-bebasNeue: 'BebasNeue Bold';

.font-quicksand {
  font-family: $font-quicksand;
}

.font-quicksand-bold {
  font-family: $font-quicksand;
  font-weight: bold;
}

.font-bebasNeue {
  font-family: $font-bebasNeue;
}